/* mobile screen
@media (max-width: 767px) {
  .hero {
    padding: 45px 0px;
    min-height: auto;
  }
  .main-header .navbar-expand-lg .navbar-nav {
    gap: 10px;
    padding-top: 20px;
  }
  .hero .carousel-item .text-caption h5,
  .hero .carousel-item .text-caption span {
    font-size: 45px;
    line-height: 50px;
  }
  .hero .carousel-item img {
    display: none !important;
  }
}

/* small screen 768px  :  991px */


/* medium screen 992px : 1199px*/
@media (min-width: 992px) {
}

/* medium screen 1200px*/
@media (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 992px) {
  :root {
    --sidebar-width: 0px;
  }

  .menu {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 15px;
  }

  .main-page,
  .about-me,
  .portfolio,
  .contact-me {
    left: 0;
    width: 100%;
    margin-left: 0;
  }

  .menu-items {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  /* .portfolio .card-group .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 30px;
    } */
}